name: deploy
on:
  push:
    branches: [ "main", "dev" ]
jobs:
  deploy-prod:
    if: github.ref == 'refs/heads/main'
    uses: RUPERDFN/thecookflow-meta/.github/workflows/docker-build-and-deploy.yml@main
    with:
      image_name: thecookflow-api
      dockerfile: ./Dockerfile
      context: .
      branch: main
    secrets:
      REGISTRY_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      COOLIFY_WEBHOOK_URL: ${{ secrets.COOLIFY_WEBHOOK_URL_PROD }}
  deploy-staging:
    if: github.ref == 'refs/heads/dev'
    uses: RUPERDFN/thecookflow-meta/.github/workflows/docker-build-and-deploy.yml@main
    with:
      image_name: thecookflow-api
      dockerfile: ./Dockerfile
      context: .
      branch: dev
    secrets:
      REGISTRY_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      COOLIFY_WEBHOOK_URL: ${{ secrets.COOLIFY_WEBHOOK_URL_STAGING }}
